/*font style*/
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.title-primary {
  color:#FD6E0A;
}
.btn {
  background-color: #FD6E0A;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 35px 18px 35px;
  border:none;
  border-radius: 5px;
  color: white;
}
.contact-btn {
  border:2px solid black;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 35px 18px 35px;
  border-radius: 5px;
  color: black;
}
.contact-btn:active{
  color:#6bfd0ac5;
}
.btn:active{
   color:black;
}
.dark2 {
  color:#474747;
}
.dark1 {
  font-weight: bold;
  font-size: 35px;
  color: #181818;
}
.text-center{
  text-align: center;
}
/*cover section*/
.parent{
  display:flex;
  justify-content: space-between;
  margin:0 30px 0 200px;
  line-height: 15px;
}
.covertitle{
  max-width: 585px;
}
.coverchild1{
  font-weight: 700;
  font-size: 45px;
}
.coverchild2{
  font-weight: bold;
  font-size: 85px;
}
.coverchild3{
  font-size: 16px;
}
.header{
  background-image: url(../images/developer.png) , url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: left , bottom right;
}
/* nav bar style */
nav {
  display: flex;
  justify-content: space-between;
  margin:0 200px;
  align-items: center;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin:50px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}
/*main section*/
main {
  width: 1136px;
  margin:0 auto;
}
main section {
  margin-top : 130 px;
  margin-bottom: 130px;

}
/* about section */
.about-title{
  background-color: #FFF8F3;
  border: 2px solid border;
  padding:130px 150px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about item */
.about-items{
  display: flex;
  justify-content: space-around;
  line-height: 8px;
}
/* skills styles */

.skills-container {
  display: flex;
  gap: 20px;
}
.skills-image {
  padding:35px;
  border-radius: 6px;
}
.skills-image:hover{
  box-shadow: 0 6px 50px 0 #1E1E1E;
}
/* resume styles */

.resume-container {
  display: flex;
}
hr {
  margin: 30px 10px;
}
.experince-sub-title , .experince-description {
  color: #757575;
}
.resume-colum-title , .resume-title {
  color: #474747;
  font-weight: bold;
  font-size: 30px;
}
.summary {
  color: #181818;
  font-weight: bold;
  font-size: 35px;
}
.experince-sub-title{
  font-weight: 600;
  font-size: 20px;
}
.resume-btn {
  margin-top: 50px;
  margin-bottom: 113px; 
}
/* footer styles */
.footer-color{
  background-color:  #FFF8F3;;
}
.footer-container{
  display:flex;
}
.footer-colum {
  padding: 130px 230px;
}
.footer-icons a img:hover {
  box-shadow: 0 6px 50px 0 #1E1E1E;;
}
.footer-colum-title {
  font-weight: bold;
  font-size: 35px;
  color: #181818;
}
.footer-colum-description{
  color: #474747;
  font-size: 16px;
}
.footer-colum-title2 {
  color: #181818;
  font-weight: bold;
  font-size:35px;
}
footer input[type="text"] , footer input[type="email"] {
  color:white;
  padding: 10px 20px;
  height: 52px;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 20px;
}
footer textarea{
  border-style: none;
  margin-bottom: 20px;
}